<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096081687380-oboe6k3bi94srkcevprh9vn8g4d91pv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096081687380-oboe6k3bi94srkcevprh9vn8g4d91pv9</string>
	<key>API_KEY</key>
	<string>AIzaSyDrouI5lT4Y2Z3xBnrws2hJjwz1s_jZx2c</string>
	<key>GCM_SENDER_ID</key>
	<string>1096081687380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IPCA.OurRecipes</string>
	<key>PROJECT_ID</key>
	<string>dishswiftapp</string>
	<key>STORAGE_BUCKET</key>
	<string>dishswiftapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096081687380:ios:35bc040b0255b4875b3ec1</string>
</dict>
</plist>